<div class="ha-brand">
    <a href="/" class="ha-brand-link">
        <span class="ha-brand-title">Honest Auto</span>
        <span class="ha-brand-tagline">Straightforward used vehicles, no games.</span>
    </a>
</div>
