<nav class="ha-nav">
    <ul class="ha-nav-list ha-nav-list-main">
        <li class="ha-nav-item">
            <a href="/" class="ha-nav-link">Home</a>
        </li>
        <li class="ha-nav-item">
            <a href="/vehicles" class="ha-nav-link">Browse Vehicles</a>
        </li>
        <li class="ha-nav-item">
            <a href="/contact" class="ha-nav-link">Contact</a>
        </li>
        <li class="ha-nav-item">
            <a href="/user" class="ha-nav-link">Dashboard</a>
        </li>
    </ul>

    <div class="ha-auth-pill">
        <a href="/auth/login" class="ha-auth-link">Login</a>
        <a href="/auth/register" class="ha-auth-link ha-auth-link-primary">Sign up</a>
    </div>
</nav>
