            </main>

            <footer class="ha-footer">
                <div class="ha-footer-inner">
                    <%- include('../partials/footer') %>
                </div>
            </footer>
        </div>
